@import '../../third-party/normalize-css/normalize.css';
/*! ------------------------------------------------
 *	Bedrock
 *	https://github.com/aebsr/bedrock
 *
 *	Copyright 2012-2013 Antoine Butler
 *	Licensed WTF Public License
 *	http://www.wtfpl.net/about/
 *
 *	Built by @aebsr
 * -------------------------------------------------
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
.triangle {
  width: 0;
  height: 0;
  display: inline-block;
}
.triangle {
  width: 0;
  height: 0;
  display: inline-block;
}
h1 {
  text-align: center;
}
#chart1:before,
#chart1:after {
  display: table;
  content: "";
}
#chart1:after {
  clear: both;
}
#chart1 svg {
  height: 500px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
}
