@import '../../third-party/normalize-css/normalize.css';
/*! ------------------------------------------------
 *	Bedrock
 *	https://github.com/aebsr/bedrock
 *
 *	Copyright 2012-2013 Antoine Butler
 *	Licensed WTF Public License
 *	http://www.wtfpl.net/about/
 *
 *	Built by @aebsr
 * -------------------------------------------------
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
.triangle {
  width: 0;
  height: 0;
  display: inline-block;
}
#chart {
  margin: 0 auto;
}
#chart:before,
#chart:after {
  display: table;
  content: "";
}
#chart:after {
  clear: both;
}
#chart svg {
  padding: 50px;
}
#chart .axis {
  color: black;
}
#chart .axis path,
#chart .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
#chart .axis text {
  font-size: 11px;
}
#chart .value-label {
  font-size: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#chart .node.text-visible .value-label {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
