@import '../../third-party/normalize-css/normalize.css';
@import '../../third-party/bedrock/bedrock.less';
@import '../../third-party/granite/granite.less';
@import '_colors';
@import '_fonts';
@import '_mixins';


h1 {
    text-align: center;
}

#chart1 {
    .clearfix();

    svg {
      height: 500px;
      margin: 10px;
      min-width: 100px;
      min-height: 100px;
    }

}
